---
import BaseLayout from './BaseLayout.astro';
import '../styles/posts.css';
const { pageTitle } = Astro.props;
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
	<h4 class="post-title">{frontmatter.title}</h4>
	<slot />
	<div class="credits">
		<div>
			<span>Completed in</span><br />
			<span>{frontmatter.pubDate.toString().slice(0,10)}</span>
		</div>
		<div>
			<span>The team was</span><br />
			<span>{frontmatter.team}</span>
		</div>
		<div class="tags">
			{frontmatter.tags.map((tag: string) => (
				<p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>
			))}
		</div>
	</div>
</BaseLayout>

<style>

</style>